version: '3.4'
services:
  postgis:
    image: docker.io/postgis/postgis:latest
    container_name: postgis
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - ./database_postgres/data/postgis:/var/lib/postgresql/data
      - ./database_postgres/scripts/create.sql:/docker-entrypoint-initdb.d/init.sql
  redis:
    image: docker.io/redis:latest
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - ./database_redis:/data